.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

a.menuItem {
  font-size: 1em;
  -moz-transition: font-size 2s;
  -webkit-transition: font-size 2s;
  transition: font-size 2s;
}

a.menuItem:hover {
  font-size: 2em;
}
